// * Logo styles: 
.logo {
  @extend %link;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: $color-black-primary;
  transition: color 250ms $transition-cubic;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2; 
  }
  }

  .logo__accent {
    color: $color-accent;
  }