// * Modal styles: 
.backdrop {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    //!
    overflow-y: scroll;
    //! 
  
    
    width: 100%;
    height: 100%;
    
    transition: opacity 250ms $transition-cubic,
    visibility 250ms $transition-cubic;
    background-color: rgba(0, 0, 0, 0.2);
    
    @media screen and (max-width: 767px) {
      padding: 93px 15px 94px 15px;
    }

  }
  
  .backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
  
  .modal {
    position: relative;
   
    padding: 40px;
    width: auto;
    height: auto;
    border-radius: 4px;
  
    background-color: $color-white-primary;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 768px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      transition: transform 250ms $transition-cubic;

      width: 450px;
      height: 609px;
    }

    @media screen and (min-width: 1200px) {
      width: 528px;
      height: 581px;
    }
  }
  
  .modal__button--close {
    position: absolute;
    top: 8px;
    right: 8px;
    
    @include centeredFlex;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill 250ms $transition-cubic;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: $color-accent;
  }
  }
  

//   * Modal form styles:
  .modal__text {
  margin-bottom: 12px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-text-title;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.15;
  }
  }
  
  .modal__form {
    // !!!
    // text-align: center;
    // !
    // outline: 1px dashed tomato; 
   
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .modal-form__field {
  // outline: 1px dashed teal;
  position: relative;
  
  padding-top: 18px;
  margin-bottom: 10px;
  }
  
  .modal-form__inner {
    position:relative
  }
  
  .modal-form__input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    &:focus {
      border-color: $color-accent;
    }

    // @media screen and (min-width: 768px) {
    //   width: 370px;
    // }

    // @media screen and (min-width: 1200px) {
    //   width: 448px;
    // }
  }
  
  .modal-form__label {
  position: absolute;
  top: 0;
  left: 0;
  
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  }
  
  .modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  
    width: 18px;
    height: 18px;

    .modal-form__input:focus + & {
        fill: $color-accent;
      }
  }
  
 
  
  .modal-form__comment {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    &:focus {
    border-color: $color-accent;
  }
    &::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    }
  }
  
  .modal-form__terms {
    position: relative;
    // !!!!!!!!!!!
    padding-left: 24px;
    margin-bottom: 30px;
    // outline: 1px dashed blue ;

    // !!!!!!!!!!!
    @media screen and (min-width: 1200px) {
      padding-left: 32px;
    }
  }
  
  .terms__label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }
  
  .terms__link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: underline;
    color: $color-accent;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }

  //   * Hide original checkbox 
  .terms__checkbox--hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
  .terms__checkbox--visible {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 16px;
    height: 15px;
    border-radius: 2px;
  
    border: 2px solid $color-text-primary;
    transition: border-color 250ms $transition-cubic;
    background-color: transparent;
    color: $color-white-primary;
    fill: transparent;

    @media screen and (min-width: 1200px) {
      left: 12px;
    }

    .terms__checkbox--hidden:focus-visible + & {
      border-color: $color-accent;
    }
    
    .terms__checkbox--hidden:checked + & {
      background-color: $color-accent;
      border-color: transparent;
      fill: $color-white-primary;
    }
  }
  
  .modal-form__button {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    border-radius: 4px;
  
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: $color-white-primary;
    background-color: $color-accent;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms $transition-cubic;

    &:hover,
    &:focus {
    background-color: #188CE8;
  }
  }
//  End Modal styles 